* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(assets/background-img.jpg);
  /*bg-img absolute src: https://upload.wikimedia.org/wikipedia/commons/4/4f/Mercedes_W123_T-Modell_front_20100630.jpg*/
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  font-family: "Raleway", "Kabel", "Helmut", "Ealing", "Relish", "Arial";
  color: #222222;
}

.profile-card {
  width: 87.5%;
  height: auto;
  background-color: hsl(0, 0%, 100%, .5);
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  border-radius: 1.25%;
}

.headline {
}

.profile-img {
  padding: 1px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-color: #666666;
  transition: all .5s ease-in-out;
  filter: grayscale(50%);
}

.profile-img:hover {
  transform: scale(1.1);
  filter: grayscale(5%);
}